.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: var(--gradient-light-blue);
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

.message {
  max-width: 600px;
}

.message h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
display: inline-block;
    font-family: "oswald";
}

.message h1 span {
  background: #111;
  color: white;
  padding: 0.4rem 1rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.message p {
  font-size: 1.4rem;
  color: #000;
}

.triangleTop {
  position: absolute;
  top: 1.5rem;
  right: 0;
  transform: translateX(40%);
  opacity: 0.4;
  width: 100px;
  height: auto;
}

.triangleBottom {
  position: absolute;
  bottom: 0;
  left: 0;
    transform: translateY(40%) translateX(-40%);
  opacity: 0.4;
  width: 270px;
  height: auto;
}
