.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.container form {
    width: 80%;
}

.flex {
    width: 100%;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .flex {
        flex-direction: column;
    }
}