.sidebar {
  background: var(--dark-blue);
  color: white;
  width: 350px;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-bottom: 1px solid #ffffff38;
    padding: 2rem;

    h2 {
      font-size: 1.1rem;
      font-weight: 800;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .sidebar__link {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      padding: 1.2rem;
      border-radius: 10px;
      font-weight: 500;
      color: white;
      text-decoration: none;
      transition: background 0.2s;

      div {
        height: fit-content;
        display: flex;
        margin-bottom: 2px;
      }

      &:hover {
        background-color: #fff;
        color: var(--dark-blue);

        .sidebar__iconDefault {
          display: none;
        }

        .sidebar__iconHover {
          display: inline;
        }
      }

      &.active {
        background-color: #fff;
        color: var(--dark-blue);

        .sidebar__iconDefault {
          display: none;
        }

        .sidebar__iconHover {
          display: inline;
        }
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1.2rem;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    transition: background 0.2s;

    div {
      height: fit-content;
    }
  }

  &__iconHover {
    display: none;
  }

  &__preview {
    border-bottom: 1px solid #ffffff38;
    border-top: 1px solid #ffffff38;
    margin: 2rem 0;

    .sidebar__link {
      padding: 1.4rem 2.2rem;
    }

    .sidebar__iconDefault {
      display: flex;
      margin-bottom: 3px;
    }

    &:hover {
      background-color: #39a5c9;
      border-radius: 0;
    }

    .active {
      background-color: #39a5c9;
      width: 100%;
      border-radius: 0;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: auto;
    padding: 2rem;
  }

  &__footerLink {
    color: white;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
    font-size: 0.95rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;

    &:hover {
      text-decoration: underline;
    }
  }
}
