.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 850px;
}

.container form {
    width: 80%;
    overflow-y: auto;
    justify-content: start;
}

.flex {
    width: 100%;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .flex {
        flex-direction: column;
    }

    .container {
        max-height: 60vh;
    }
}