.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    opacity: 0;
}

.container form {
    width: 80%;
    overflow-y: auto;
    justify-content: start;
}

.flex {
    width: 100%;
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .flex {
        flex-direction: column;
    }
}