.card {
  position: relative; /* AJOUTE ÇA */
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 300px;
  max-width: 317px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4 / 3;
}

.image {
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.info {
  padding: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.venue {
  font-size: 0.875rem;
  color: #666;
  margin-top: 0.25rem;
}

.dateTimePrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.75rem;
  font-size: 0.9rem;
}

.date {
  color: #0070f3;
  font-weight: 500;
}

.price {
  font-weight: bold;
}

.tags {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.tag {
  font-size: 0.7rem;
  background: #f2f2f2;
  padding: 0.2rem 0.5rem;
  border-radius: 9999px;
  color: #333;
  text-transform: uppercase;
}


.accessibilityIndicator {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  z-index: 2;
}

.accessibilityIndicator span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  background-image: url('/icones/accessibility.png');
   background-size: cover;
  background-position: center;

}

