.container {
    position: relative;
    display: flex;
    height: 100vh;
    background-image: var(--gradient-light-blue);
    justify-content: center;
}

.decor4 {
    position: absolute;
    left:25px;
    bottom: 20px;
}

.decor5 {
    position: absolute;
    top: 25px;
    right: 25px;
}