.flex {
    display: flex;
    width: 90%;
    gap: 52px;
}

.inputContainer,
.textareaContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fullWidth {
    width: 100%;
}

.inputContainer input,
.textareaContainer textarea {
    border: 1px solid #B2B2B2;
    border-radius: 9px;
    font-size: 16px;
    outline: none;
    background: transparent;
    padding: 5px 10px;
}

.fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.type,
.price {
    display: flex;
    flex-direction: column;
}

.type {
    width: 100%;
}

.price {
    width: 25%;
}

.buttons {
    display: flex;
    gap: 8px;
    width: 100%;
}

.myFestivalForm button {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 2px 8px;
    cursor: pointer;
    width: 100%;
}

.myFestivalForm button {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 2px 8px;
    cursor: pointer;
    width: 100%;
}

.myFestivalForm input[type="submit"] {
    background-color: blue;
    color: white;
    width: 90%;
    border-radius: 9px;
    padding: 4px 8px;
    cursor: pointer;
}