// .presentationContainer {
//   color: #1d1d1d;
// }



/* Section : À propos */

.aproposSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  margin-bottom: 4rem;
}

.aproposText {
  flex: 1;
  min-width: 280px;
}

.aproposTitle {
  background: #1d1d1d;
  color: white;
  padding: 6px 12px;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  
}

.subtitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
   font-family: "poppins";
    text-transform: capitalize;
}

.aproposText p {
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1rem;
}

.aproposIllustration {
  max-width: 600px;
  flex-shrink: 0;
}

.aproposIllustration img{
  width: 300px;
}

/* Section : Collaboration */
.collabSection {
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 12px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
    overflow: visible; /* ➤ Pour autoriser les débordements */


}

.collabImage {
  width: 100%;
  max-width: 600px;
}

.collabText {
  flex: 1;
  min-width: 280px;
}

.collabText p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.collabButton {
  background-color: transparent;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.collabButton:hover,
.collabButton:focus {
  background-color: black;
  color: white;
}



.circleContainer {
  position: absolute; 
  top: -20px; 
  right: -20px;  
  width: 160px;
  height: 160px;
  z-index: 1111;
}

.rotatingText {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: slowRotate 20s linear infinite;
}

.centerImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (max-width: 768px) {
  .circleContainer {
    width: 100px;
    height: 100px;
    top: -10px;
    right: -10px;
  }

  .rotatingText {
    width: 100%;
    height: 100%;

    img {
      width: 100px !important;
      height: 100px !important;
    }
  }

  .centerImage {
    img {
      width: 32px !important;
      height: 32px !important;
    }
  }
}

@keyframes slowRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Responsive */
@media screen and (max-width: 768px) {
  .aproposIllustration {
    width: 300px
    }

  .collabBadge {
    position: static;
    margin-top: 1.5rem;
    align-self: flex-end;
  }
}
