.container button {
  all: unset;
  cursor: pointer;
  font-weight: 700;
  margin: 8px;
  color: black; /* couleur par défaut */
  transition: 0.2s;
}

.container button:hover {
  color: var(--dark-blue); /* couleur par défaut */
}

.container button.active {
  color: var(--dark-blue);
  border-bottom: solid 3px var(--dark-blue);
}