.container {
  max-width: 700px;
  margin: 3rem ;

}

.poste {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
      margin-top: 30px;

}

.lineTop {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.leftColumn {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}



.dateRow {
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

.selectContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 200px;
      align-self: flex-end;  
}





.select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.textareaBlock {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.addButton {
  align-self: flex-start;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #444;
  }
}
