.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 38px;
    /* flex-basis: 60%; */
    width: 40%;
    margin-bottom: 100px;
}

.container button {
    font-weight: 700;
    background-color: transparent;
    padding: 30px;
    border-radius: 9px;
    border: 1px solid #B2B2B2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container h2 {
    font-family: 'poppins', sans-serif;
    font-size: 2.25rem;
    text-transform: none;
}

.buttoncontainer {
    display: flex;
    gap: 20px;
}