.inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    border: 1px solid #B2B2B2;
    border-radius: 9px;
}

.input {
    width: 100%;
    font-size: 16px;
    outline: none;
    background: transparent;
    padding: 15px 10px;
    border: none;
}

.inputfile {
    border: none;
}

.inputContainerfile {
    width: 100%;
    position: relative;
    display: flex;
    border: 1px dashed #B2B2B2;
    color: #6a6a6a;
    border-radius: 9px;
}

.inputfile::-webkit-file-upload-button {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #888;
    transition: all 0.2s ease-in-out;
    background: white;
    padding: 0 5px;
    pointer-events: none;
    /* Permet d'éviter que le label gêne le clic sur l'input */
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label,
.inputfile:focus+.label,
.inputfile:not(:placeholder-shown)+.label {
    top: 5px;
    font-size: 12px;
    color: #333;
}

.form,
.form fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 25px;
    border: none;
}

.form button {
    background-color: black;
    color: white;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 49px;
    border: none;
}

.showpassword {
    padding: 0 8px 0 8px !important;
    background-color: transparent !important;
}

.showpassword img {
    max-width: 30px;
}