.background {
    position: relative;
    background: linear-gradient(180deg, rgba(17, 85, 107, 1) 0%, rgba(0, 109, 145, 1) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 400px;
    width: 40%;
}

.background img{
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 38px;
    width: 80%;
    max-width: 500px;
    z-index: 1;
    font-size: 1.25rem;
}

.container h1 {
    font-size: 2.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: fit-content;
}

.highlight {
    background-color: #1D1D1D;
    padding: 5px;
    width: fit-content;
}

.container button {
    width: fit-content;
    padding: 10px 30px;
    border-radius: 49px;
    border: none;
}

.decor1 {
    right: 10px;
    bottom: 10px;
    width: 40%;
    height: auto;
}

.decor2 {
    left: 0;
    bottom: 100px;
    width: 20%;
    height: auto;
}

.decor3 {
    left: 100px;
    top: 50px;
    width: 15%;
    height: auto;
}